* {
  margin: 0;
}

body {
  background-color: white;
}

body, html {
  overflow: hidden;
}


* {
  margin: 0;
  padding: 0;
}

.space {
  height: 100vh;
  perspective: 300px;
  overflow-y: auto;
  overflow-x: hidden;
}

.space-group {
  height: 100vh;
  transform-style: preserve-3d;
  position: relative;
}

.space-layer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
}

.space-layer-fore {
  z-index: 1;
  transform: translateZ(90px) scale(0.7);
}

.space-layer-base {
  z-index: 4;
  transform: translateZ(0);
}

.space-layer-back {
  transform: translateZ(-300px) scale(2.011);
  z-index: 3;
}

.space-layer-deep {
  /*border: 1px solid red;*/
  transform: translateZ(-600px) scale(2);
  z-index: 2;
}


.space {
  font-size: 200%;
}

.title {
  text-align: center;
  margin: auto;
}

#group1 {
  z-index: 5;
}

#group1 .space-layer-base {
  background: url('x.png');
  background-size: cover;
}

#group2 {
  z-index: 3;
}

#group2 .space-layer-back {
  background: url('z.png');
  background-size: cover;
}

#group3 {
  z-index: 4;
}

#group3 .space-layer-base {
  background:#0C0F05;
}

#group4 {
  z-index: 2;
}

#group4 .space-layer-deep {
  background:#BEE9CD;
}

/*#group5 {
  z-index: 3;
}

#group5 .space-layer-base {
  background: #5BB8C8;
  background-size: cover;
}*/

/*#group6 {
  z-index: 2;
}

#group6 .space-layer-back {
    background: url('y.png');
  background-size: contain;
}*/

#group7 {
  z-index: 3;
}

#group7 .space-layer-base {
  background: url('b.jpeg');
  background-size: cover;
}

nav a {
  text-decoration: none;
  color: white;
  margin-left: 30px;
  line-height: 50px;

}
nav {
  background-color: rgba(0, 0, 0, .5);
  text-align: center;
  z-index: 99;
  position: fixed;
  width: 100%;
  height: 50px;
}

.group-one-base {
    /*border: 1px solid red;*/
    height: 200px;
    width: 300px;
    background-color: #1B3550;
    color: #ffffff;
    font-family: Arial;
    
}

.group-two-back {
    /*border: 1px solid red;*/
    position: absolute;
    left: 10%;
    top: 30%;

}

.group-three-base {
    background-color: darkorange;
    border-radius: 50%;
    width: 500px;
    height: 500px;

}

#cloud {
  /*border: 1px solid red;*/
  position: absolute;
  left: 20%;
  top: 35%;
  opacity: .9;
}

.fore {
    position: absolute;
    top: 50%;
    left:20%;
    background-color: #1B143D;
    width: 300px;
    height: 250px;
    border-radius: 40%;
}

#ballon {
  position: absolute;
  left: 30%;
}

#ballon3 {
  position: absolute;
  top: 20%;
  right: 30%;
}

#ballon4 {
  position: absolute;
  top: 20%;
  right: 20%;
}